body{
  padding: 0;
  margin: 0;
}
#iconBar{
  background-color:black;
  color:white;
  text-align:center;
}

#alignImages{
  color:black;
  font-size:2em;
}

::placeholder{
  color: colorSelect;
}

#width{
  width:50%;
  text-align:center;
  margin: auto;
}

#random{
  background: black;
}

#border{
  border: 30px solid white;
  padding: 0px;
  margin:0;
  clear:none;
  inline:block;
  vertical-align: bottom;
}

// for slider Css from w3Schools
.slidecontainer {
  width:20%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0FD4EE;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#fontColor{
  cursor: pointer;
}

#backgroundColor{
  cursor: pointer;
}
