body{
  padding: 0;
  margin: 0;
}

p:empty:not(:focus)::before {
  content: attr(data-placeholder);
}

#contentArea{
  font-weight:bold;
  width:100%;
  height:1000px;
}

#title{
  font-weight:bold;
  font-size:24px;
  border: 0px;
  position:relative;
  display:block;
  margin : 0 auto;
  width:100%;
  text-align:center;
 }

.iconBar{
  background-color: #404040;
  color: white;
  width: 100%;
  margin: 0px;
  text-align:center;
  display: inline-block;
}

#alignImages{
  color:black;
  font-size:2em;
}

.width{
  padding:2%;
  width:50%;
  text-align:center;
  margin: auto;
}

.sliderSize{
  padding-left: 4%;
  padding-right: 4%;
  width:22%;
  text-align:center;
  display: inline-block;
}

.downloadButton{
  width:20%;
  display: block;
  display: inline-block;
}

.borderArea{
  padding:0px;
  margin:0px;
  background: #595959;
}

.border{
  border-left: 200px solid white;
  border-right: 200px solid white;
  padding: 0px;
  margin:0px;
  clear:none;
  inline:block;
  vertical-align: bottom;
  border-style: solid;
  border-color: #595959;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0FD4EE;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#fontColorIcon{
  cursor: pointer;
}

#backgroundColorIcon{
  cursor: pointer;
}
