<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../plugins/FileSaver.js"></script>
<script src="../plugins/jquery.wordexport.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<link rel="stylesheet" href="../bootstrap/css/bootstrap.css">

<script src='../JavaScript/HomePageController.js'></script>
<link rel='stylesheet' href="../CSS/homeStyleSheet.css">
<head>
  <div ng-app="myApp" ng-controller="homeController" class="border">
    <div class="borderArea">
      <div class="iconBar" style="padding:1%;" ng-init="colorSelect='#000000'" >
        <input id="fontColor" class="witdh glyphicon glyphicon-text-color" style="color:{{colorSelect}}; background:white;" type="color" ng-model="colorSelect"></input>
        <input id="backgroundColor width" type="color" style="color:{{backgroundColorSelect}}; background:white;" class="glyphicon glyphicon-text-background" ng-init="backgroundColorSelect='#ffffff'" ng-model="backgroundColorSelect"></input>
        <button class="glyphicon glyphicon-align-left" id="alignImages" onclick="leftP();"></button>
        <button class="glyphicon glyphicon-align-center" id="alignImages" onclick="centerP();"></button>
        <button class="glyphicon glyphicon-align-right" id="alignImages" onclick="rightP();"></button>
        <button class="glyphicon glyphicon-align-justify" id="alignImages" onclick="justifyP();"></button>
        <div class="sliderSize">
          <select style="color:black; text-align:ccenter;" ng-init="fontTypes='Comic Sans MS'" ng-model="fontTypes" ng-options="font for font in fonts"></select>
          <input type="range" min="12" max="100" value="20" style="margin:3%;" ng-init="fontSize=20" ng-model="fontSize" class="slider" id="myRange">
          <p>Font Size: {{fontSize}}<span id="demo"></span></p>
        </div>
        <div class="downloadButton">
          <a class="word-export glyphicon glyphicon-download" style="font-size: 2em;" href="javascript:void(0)">Download</a>
          <p id="wordCountId"></p>
        </div>
    </div>
    </head>
    <body>
      <div id="page-content">
        <h1 ng-show="false" style="text-align:center" ng-model="fileName">{{fileName}}</h1>
        <input placeholder="Input title here" style="font-weight:bold; font-size:24px; position:relative; display:block; margin : 0 auto; width:100%; text-align:center; color: {{colorSelect}}; background-color: {{backgroundColorSelect}};" ng-model="fileName"></input>
        <p id="myP" contenteditable data-placeholder="Start typing your new project here!" style="font-size:{{fontSize}}px; font-family: {{fontTypes}}; font-weight:bold; color: {{colorSelect}}; background-color: {{backgroundColorSelect}}; width:100%; height:1000px"></p>

      </div>
    </div>
  </div>

</body>
</html>
